@import "../../scss/colors.scss";

.hero {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;

  @media screen and (max-width: 769px) {
    padding: 0 15px;
  }

  &__wrapper {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 120px;
    box-sizing: border-box;
    position: relative;

    @media screen and (max-width: 1441px) {
      padding-bottom: 60px;
    }
    @media screen and (max-width: 769px) {
      padding-top: 30px;
      padding-bottom: 0;
      align-items: center;
    }
  }

  &__info {
    max-width: 831px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 46px;

    @media screen and (max-width: 1441px) {
      max-width: 580px;
      row-gap: 35px;
    }
    @media screen and (max-width: 1025px) {
      max-width: 440px;
      row-gap: 25px;
    }
    @media screen and (max-width: 769px) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    display: flex;
    max-width: 43%;
    width: 100%;
    z-index: -1;
    bottom: 0;

    @media screen and (max-width: 769px) {
      position: unset;
      transform: none;
      order: 3;
      max-width: 400px;
    }

    & img,
    & svg {
      width: 100%;
      height: auto;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;

    @media screen and (max-width: 1441px) {
      font-size: 22px;
    }
    @media screen and (max-width: 1025px) {
      font-size: 20px;
    }
    @media screen and (max-width: 769px) {
      font-size: 16px;
      text-align: center;
      order: 1;
      margin-bottom: 40px;
    }

    & span {
      display: flex;

      @media screen and (max-width: 769px) {
        justify-content: center;
        text-align: center;
      }


      &:nth-child(1) {
        color: $brown;
      }

      &:nth-child(2) {
        color: $red;
      }
    }
  }

  &__title {
    color: $brown;
    font-size: 60px;
    font-weight: 900;
    line-height: 120%;

    @media screen and (max-width: 1441px) {
      font-size: 40px;
    }
    @media screen and (max-width: 1025px) {
      font-size: 35px;
    }
    @media screen and (max-width: 769px) {
      font-size: 30px;
      text-align: center;
      order: 2;
      margin-bottom: 25px;
    }
  }

  &__notice {
    color: #B61E1E;
    font-size: 24px;

    @media screen and (max-width: 769px) {
      order: 3;
      font-size: 18px;
      text-align: center;
      margin-bottom: 25px;
    }

    & span {
      display: flex;

      @media screen and (max-width: 769px) {
        justify-content: center;
      }

      &:nth-child(1) {
        font-weight: 900;
      }

      &:nth-child(2) {
        font-weight: 500;
      }
    }
  }

  &__button {
    max-width: 300px;

    @media screen and (max-width: 769px) {
      order: 4;
      margin-bottom: 25px;
    }
  }
}
